.tableContainer{
 margin: 4rem 0;
 font-size: 1.7rem;
}

table {
    border: 0.1rem solid black;
    border-radius: 1.4rem;
}

td, th {
    min-width: 10rem;
    text-align: center;
}

tr {
    height: 6.8rem;
}
tr:nth-child(odd){
    background-color: #fdd835;
    color: #000000;
}

th, tr:nth-child(even){
    background-color: #ffc1d3;
    color: #000000;
}
